/* ============================== IMPORT ================================== */
@import url(janox/menu.css);
@import url(janox/statusbar.css);
@import url(janox/form.css);
@import url(janox/button.css);
@import url(janox/multipg.css);
@import url(janox/flowbox.css);
@import url(janox/tools.css);
@import url(janox/table.css);
@import url(janox/nav.css);
@import url(janox/popup.css);
@import url(janox/tree.css);
@import url(janox/imglist.css);
@import url(janox/progress.css);
@import url(janox/errors.css);
@import url(janox/cale.css);

:root {
    --jx-color-space: #fcfbfa;
    --jx-color-form: #f5f4f2;
    --jx-color-frame: #f0efed;
    --jx-color-face: #e0ddd9;
    --jx-color-on: #D1C8C0;
    --jx-color-border: rgb(200, 200, 200);
    --jx-color-border-hover: rgb(180, 180, 180);
    --jx-color-border-focus: rgb(160, 160, 160);
    --jx-color-disabled: rgba(0, 0, 0, .5);
    --jx-color-bgdisabled: #f0efed;
    }

@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 400;
    src: local('Gudea'), url(fonts/Gudea-Regular.woff) format('woff');
    }
@font-face {
    font-family: 'Gudea';
    font-style: italic;
    font-weight: 400;
    src: local('Gudea'), url(fonts/Gudea-Italic.woff) format('woff');
    }
@font-face {
    font-family: 'Gudea';
    font-style: bold;
    font-weight: 700;
    src: local('Gudea'), url(fonts/Gudea-Bold.woff) format('woff');
    }

* {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    outline:            none;
    }

* { font-family: "Gudea", sans-serif; color: #595959; font-size: 13px; }

em, i { font-style: italic; }

/* ============================== SFONDO ================================== */
.o2_sfondo {
    background-color: var(--jx-color-space);
    }

/* =============================== CONTROLLI =============================== */
.o2_ctrl_label {
    white-space: nowrap;
    padding-top: 2px;
    overflow: hidden;
    }

.o2_ctrl_edit {
    background-color: var(--jx-color-space);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    overflow: hidden;
    border-radius: 3px;
    transition: border-color .2s .1s;
    }

.o2_ctrl_edit:hover {
    border-color: var(--jx-color-border-hover);
    }

.o2_ctrl_edit:focus {
    border-color: var(--jx-color-border-focus);
    }

.o2_ctrl_edit_dis {
    color: var(--jx-color-disabled);
    background-color: var(--jx-color-bgdisabled);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    overflow: hidden;
    border-radius: 3px;
    }

.o2_ctrl_text {
    background-color: var(--jx-color-space);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    overflow: auto;
    border-radius: 3px;
    transition: border-color .2s .1s;
    }

.o2_ctrl_text:hover {
    border-color: var(--jx-color-border-hover);
    }

.o2_ctrl_text:focus {
    border-color: var(--jx-color-border-focus);
    }

.o2_ctrl_text_dis {
    color: var(--jx-color-disabled);
    background-color: var(--jx-color-bgdisabled);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    overflow: auto;
    white-space: normal;
    border-radius: 3px;
    }

.o2_ctrl_text_edit {
    background-color: var(--jx-color-space);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 3px;
    transition: border-color .2s .1s;
    }

.o2_ctrl_text_edit:hover {
    border-color: var(--jx-color-border-hover);
    }

.o2_ctrl_text_edit:focus {
    border-color: var(--jx-color-border-focus);
    }

.o2_ctrl_listcombo {
    background-color: var(--jx-color-space);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    overflow: auto;
    border-radius: 3px;
    }

.o2_ctrl_listcombo_dis {
    color: var(--jx-color-disabled);
    background-color: var(--jx-color-bgdisabled);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    overflow: auto;
    border-radius: 3px;
    }

.o2_ctrl_listcombo_field_dis {
    color: var(--jx-color-disabled);
    background-color: var(--jx-color-bgdisabled);
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 1px;
    overflow: hidden;
    border-radius: 3px;
    }

.o2_ctrl_listcombo_field {
    background-color: var(--jx-color-space);
    background-image: url(janox/listcombo/down.png);
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid var(--jx-color-border);
    padding-left: 1px;
    padding-right: 14px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 3px;
    transition: border-color .2s .1s;
    }

.o2_ctrl_listcombo_field:hover {
    border-color: var(--jx-color-border-hover);
    }

.o2_ctrl_listcombo_field:focus {
    border-color: var(--jx-color-border-focus);
    }

.o2_ctrl_listcombo_handler {
    background-color: transparent;
    background-image: url(janox/listcombo/down.png);
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    }

.o2_ctrl_listcombo_handler:hover {
    background-color: var(--jx-color-face);
    border-color: var(--jx-color-border-hover);
    }

.o2_ctrl_listcombo_list {
    max-height: 250px;
    background-color: var(--jx-color-space);
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: auto;
    box-shadow: 0px 6px 10px #6B6661;
    }

option:hover {
    background-color: #f0efed;
    }

.o2lu_sysppg, .o2lu_sysnpg {
    text-align: right;
    }

.o2_ctrl_listcombo div,
.o2_ctrl_listcombo_dis div,
.o2_ctrl_listcombo_list div {
    padding: 1px 3px 1px 3px;
    }

.o2_ctrl_listcombo div:hover,
.o2_ctrl_listcombo_list div:hover {
    background-color: #f0efed;
    padding: 1px 3px 1px 3px;
    cursor: pointer;
    }

.jxlsr {
    background-color: #ff8a4d;
    }

.o2_ctrl_file {
    background: var(--jx-color-space) url(janox/upload/file.png) no-repeat 3px;
    border: 1px solid #BDB5AE;
    overflow: hidden;
    border-radius: 3px;
    transition: border-color .2s .1s;
    }

.o2_ctrl_file:hover {
    border-color: var(--jx-color-border-hover);
    }

.o2_ctrl_file:focus {
    border-color: var(--jx-color-border-focus);
    }

.o2_ctrl_file_txt {
    white-space: nowrap;
    position: absolute;
    top: 2px;
    left: 20px;
    overflow: hidden;
    }

.o2_ctrl_file_clear {
    background: transparent url(janox/upload/clear.png) no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    border: none;
    cursor: pointer;
    }

.o2_ctrl_line {
    border: none;
    border-top: 1px solid var(--jx-color-border);
    }

.o2_ctrl_img {
    vertical-align: middle;
    border-radius: 3px;
    }

.o2_ctrl_check:focus {
    box-shadow: 0 0 1px 1px var(--jx-color-disabled);
    }

/* ============================== SYSTEM ============================ */
.jxclock {
    position: absolute;
    right: 70px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    background-image: url("janox/sys/wait.gif");
    position: fixed;
    }

.jx_inctrl_wait {
    background-image: url("janox/sys/wait.gif");
    background-repeat: no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    }

.jxclock_big {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 100px;
    height: 100px;
    background-image: url("o2sys/sys/clock_big.gif");
    border: 3px solid #993300;
    }

.reqMon {
    position: fixed;
    bottom: 4px;
    right: 95px;
    }

.reqMonOn {
    background-image: url("janox/sys/red.png");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    display: inline;
    float: left;
    }

.reqMonOff {
    background-image: url("janox/sys/gray.png");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    display: inline;
    float: left;
    }

.reqMonFree{
    background-image: url("janox/sys/green.png");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    display: inline;
    float: left;
    }

.jxfastmsgframe {
    top: 35px;
    right: 10px;
    }

.jxfastmsg {
    color: #f5f5f5;
    background-color: #bb0000;
    font-weight: bold;
    border: 1px solid var(--jx-color-border);
    padding: 10px;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #6B6661;
    }

.jxfastmsg_close {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    background-color: transparent;
    }

/* ============================= EXTRA =========================== */
.jxzoom {
    border-left: 2px solid #ff8a4d;
    }

.jxzoom:hover {
    border-left: 2px solid #ff8a4d;
    }

.jxzoom:focus {
    border-left: 2px solid #ff8a4d;
    }

.jxsoc {}

.jxerror {
    background-color: #ff6666;
    }

.hidden {
    display: none;
    }

.readonly {
   pointer-events: none;
   }

.no_border {
    border: none;
    }

.nowindow {
    background-image: none;
    background-color: transparent;
    border: hidden;
    cursor: default;
    }

.nav_big {
    height: 32px;
    background-color: var(--jx-color-face);
    border: none;
    border-bottom: 1px solid var(--jx-color-border);
    padding-left: 10px;
    padding-right: 10px;
    }
