/* ================================ FORM ===================================== */
.winshadow {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    border-radius: 5px;
    }

.o2_form_window {
    border: 1px solid var(--jx-color-border);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }

.o2_form_titlebar,
.o2_form_titlebar_no {
    background-color: var(--jx-color-title);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    }

.o2_form_body {
    background-color: var(--jx-color-win);
    border-top: none;
    overflow: hidden;
    }

.o2_form_title {
    background-color: var(--jx-color-title);
    height: 25px;
    text-align: center;
    }

.o2_form_title * {
    font-weight: bold;
    text-shadow: #ffffff 0px 0px 10px;
    }

.o2_form_title_no {
    background-color: var(--jx-color-title);
    height: 25px;
    text-align: center;
    }

.o2_form_title_no * {
    color: var(--jx-color-disabled);
    font-weight: bold;
    text-shadow: #ffffff 0px 0px 10px;
    }

.o2_form_doc {
    background-image: url(form/doc.png);
    background-repeat: no-repeat;
    background-position: center 4px;
    background-color: transparent;
    width: 20px;
    cursor: pointer;
    opacity: .7;
    transition: opacity .2s .1s;
    }

.o2_form_full,
.o2_form_restore {
    background-image: url(form/maxmin.png);
    background-repeat: no-repeat;
    background-position: center 4px;
    background-color: transparent;
    width: 20px;
    cursor: pointer;
    opacity: .6;
    transition: opacity .2s .1s;
    }

.o2_form_close,
.o2_form_open {
    background-image: url(form/openclose.png);
    background-repeat: no-repeat;
    background-position: center 4px;
    background-color: transparent;
    width: 20px;
    cursor: pointer;
    opacity: .8;
    transition: opacity .2s .1s;
    }

.o2_form_exit {
    background-image: url(form/exit.png);
    background-repeat: no-repeat;
    background-position: center 4px;
    background-color: transparent;
    width: 20px;
    cursor: pointer;
    opacity: .6;
    transition: opacity .2s .1s;
    }

.o2_form_doc:hover,
.o2_form_full:hover,
.o2_form_restore:hover,
.o2_form_close:hover,
.o2_form_open:hover,
.o2_form_exit:hover {
    opacity: 1;
    }

.o2_form_status {
    background-color: var(--jx-color-win);
    width: 100%;
    line-height: 1px;
    }

.o2_form_status_dis {
    background-color: var(--jx-color-win);
    width: 100%;
    line-height: 1px;
    }

.o2_form_resize {
    background-image: url(form/grip.png);
    border-top: 1px solid var(--jx-color-border);
    border-left: 1px solid var(--jx-color-border);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    width: 30px;
    height: 6px;
    cursor: se-resize;
    }

.o2_form_resize:hover {
    background-color: var(--jx-color-title);
    background-image: url(form/grip.png);
    border-top: 1px solid var(--jx-color-border);
    border-left: 1px solid var(--jx-color-border);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    width: 30px;
    height: 6px;
    cursor: se-resize;
    }
