/* ====================================== NEW MENU ==================================== */

.o2menuBar {
    position: fixed;
    background-color: var(--jx-color-btn);
    border-bottom: 1px solid var(--jx-color-border);
    top: 0;
    left: 0;
    width: 100%;
    line-height: 24px;
    padding-left: 10px;
    }

.o2menuBarV {
    position: fixed;
    background-color: var(--jx-color-btn);
    border-right: 1px solid var(--jx-color-border);
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 24px solid transparent;
    overflow-x: none;
    overflow-y: auto;
    }

.o2menuBarH {
    position: fixed;
    background-color: var(--jx-color-btn);
    border-right: 1px solid var(--jx-color-border);
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 24px solid transparent;
    padding-top: 30px;
    overflow-x: none;
    overflow-y: auto;
    }

.o2menu {
    background-color: var(--jx-color-btn);
    border: 1px solid var(--jx-color-border);
    }

.o2menuButton {
    width: 50px;
    height: 24px;
    top: 1px;
    left: 24px;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    background-image: url(menu/btn.png);
    background-color: var(--jx-color-btn);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    }

.o2menuClose {
    width: 50px;
    height: 24px;
    top: 1px;
    left: 24px;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    background-image: url(menu/close.png);
    background-color: var(--jx-color-btn);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    }

.o2menuItem {
    border: 1px solid var(--jx-color-border);
    padding: 2px;
    line-height: 22px;
    cursor: pointer;
    }

.o2menuBar .o2menuItem {
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    line-height: 24px;
    margin-right: 4px;
    display: inline;
    cursor: pointer;
    }

.o2menuBarV .o2menuItem, .o2menuBarH .o2menuItem {
    border: 1px solid transparent;
    line-height: 22px;
    padding: 2px 20px 2px 10px;
    display: block;
    cursor: pointer;
    }

.o2menuItemOn {
    background-color: var(--jx-color-title);
    padding: 2px;
    line-height: 22px;
    cursor: pointer;
    }

.o2menuBar .o2menuItemOn {
    background-color: var(--jx-color-title);
    border: 1px solid var(--jx-color-border);
    border-bottom: none;
    line-height: 24px;
    margin-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline;
    cursor: pointer;
    }

.o2menuBarV .o2menuItemOn, .o2menuBarH .o2menuItemOn {
    background-color: var(--jx-color-title);
    border: 1px solid var(--jx-color-border);
    border-right: 1px solid transparent;
    line-height: 22px;
    padding: 2px 20px 2px 10px;
    display: block;
    cursor: pointer;
    }

.o2menuImg {
    padding-left: 5px;
    display: inline;
    }

.o2menuImg IMG {
    vertical-align: text-bottom;
    }

.o2menuBar .o2menuImg {
    display: inline;
    }

.o2menuLabel {
    white-space: nowrap;
    padding: 0 6px 0 4px;
    }

.o2menuBar .o2menuLabel {
    display: inline;
    }

.o2menuBar .o2menuItem .o2menuLabel {
    display: inline;
    }

.o2menuItem .o2menuArrow {
    background-image: url(menu/arrow.gif);
    background-position: right;
    background-repeat: no-repeat;
    width: 12px;
    }

.o2menuItemOn .o2menuArrow {
    background-image: url(menu/arrowon.gif);
    background-position: right;
    background-repeat: no-repeat;
    width: 12px;
    }

.o2menuSep {
    border-bottom: 1px solid var(--jx-color-border);
    height: 4px;
    margin-bottom: 2px;
    }

.o2menuSepV {
    border-left: 1px solid var(--jx-color-border);
    width: 1px;
    display: inline;
    }

.o2devInfo {
    }

.o2devInfo TH {
    }

.o2devInfo i {
    }


/* ===== ACCORDION MENU ===== */

.o2accMenu {
    }

.o2accMenu div.o2menu {
    background-color: var(--jx-color-win);
	max-height: 0;
	overflow: hidden;
    border: none;
	padding-left: 10px;
	transition: max-height 0.5s ease-out;
	}

.o2accMenu > div.o2menu {
	max-height: 1000px;
    background-color: transparent;
	}

.o2accMenu .o2menuItem {
    border: none;
    line-height: 22px;
    padding: 4px 0 0 0;
    }

.o2accMenu .o2menuItem:hover > label {
    background-color: var(--jx-color-title);
    }

.o2accMenu .o2menuItem label {
	display: block;
	width: 100%;
	cursor: pointer;
    margin-bottom: 4px;
	}

.o2accMenu .o2menuItem label[for]:after {
    content: "\02C3";
    font-size: 13px;
    position: relative;
    top: 0;
    float: right;
    margin-right: 10px;
	}

.o2accMenu input[type="radio"] {
	display: none;
    }

.o2accMenu input[type="radio"]:checked ~ div.o2menu {
    max-height: 1000px;
	border: 1px solid var(--jx-color-border);
    border-right: none;
    border-top-left-radius: var(--jx-radius);
    border-bottom-left-radius: var(--jx-radius);
	transition: max-height 0.5 ease-in;
	}

.o2accMenu input[type="radio"]:checked ~ label[for]:after {
    content: "\02C5";
    font-size: 15px;
    position: relative;
    top: 0;
    float: right;
    margin-right: 10px;
	}
