/* ========================== BUTTON/REF =========================== */

.o2_ctrl_button {
    text-align: center;
    background-color: var(--jx-color-face);
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s .1s;
    }

.o2_ctrl_button:hover, .o2_ctrl_button:focus {
    background-color: var(--jx-color-on);
    }

.o2_ctrl_button_dis {
    color: var(--jx-color-disabled);
	text-align: center;
    background: var(--jx-color-bgdisabled);
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    }

.o2_ctrl_button_dis * {
    color: var(--jx-color-disabled);
    }

.o2_ctrl_ref {
    background-color: transparent;
    text-decoration: underline;
    text-align: left;
    padding: 0 3px 0 3px;
    border: none;
    }

.o2_ctrl_ref:hover, .o2_ctrl_ref:focus {
    color: #ff8a4d;
    background-color: transparent;
    text-decoration: underline;
    text-align: left;
    padding: 0 3px 0 3px;
    border: none;
    cursor: pointer;
    }

.o2_ctrl_ref_dis {
    color: var(--jx-color-disabled);
    background-color: transparent;
    text-decoration: underline;
    text-align: left;
    padding: 0 3px 0 3px;
    border: none;
    }

