/* ========================== BUTTON/REF =========================== */

.o2_ctrl_button {
	text-align: center;
    background: #D1C8C0;
    background: -moz-linear-gradient(top, #ffffff, #BDB5AE);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#BDB5AE));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#BDB5AE');
    border-bottom: 1px solid #a19a93;
    border-top: 1px solid #D1C9C1;
    border-left: 1px solid #BDB5AE;
    border-right: 1px solid #BDB5AE;
    border-radius: 3px;
    }

.o2_ctrl_button:hover, .o2_ctrl_button:focus {
    color: #442204;
	text-align: center;
    background: #D1C8C0;
    background: -moz-linear-gradient(top, #ffffff, #CAC1BA);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#CAC1BA));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#CAC1BA');
    border: 1px solid #E18331;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #6B6661;
    }

.o2_ctrl_button:hover *, .o2_ctrl_button:focus * {
    color: #442204;
    }

.o2_ctrl_button_dis {
    color: #a19a93;
	text-align: center;
    background: #E1DAD4;
    border: 1px solid #a19a93;
    border-radius: 3px;
    }

.o2_ctrl_button_dis * {
    color: #a19a93;
    }

.o2_ctrl_ref {
    color: #442204;
    background-color: transparent;
    text-decoration: underline;
    text-align: left;
    padding: 0 3px 0 3px;
    border: none;
    }

.o2_ctrl_ref:hover, .o2_ctrl_ref:focus {
    color: #E18331;
    background-color: transparent;
    text-decoration: underline;
    text-align: left;
    padding: 0 3px 0 3px;
    border: none;
    cursor: pointer;
    }

.o2_ctrl_ref_dis {
    color: #BBBBBB;
    background-color: transparent;
    text-decoration: underline;
    text-align: left;
    padding: 0 3px 0 3px;
    border: none;
    }

