/* ______________________ JAVASCRIPT CALENDAR ________________________ */
.caleBox {
	border: 2px ridge #19181A;
	background-color: #D3D3D3;
	padding: 3px 3px 3px 3px;
	}

.caleFrame {
	padding: 5px 5px 5px 5px;
	border-collapse: separate;
	border-spacing: 0px;
	}

.caleLabel {
	color: #19181A;
	line-height: 14px;
	white-space: nowrap;
	overflow: hidden;
	padding: 2px 3px 2px 3px;
	}

.caleTitle {
	color: #990000;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	cursor: default;
	margin: 0 0 0 0;
	padding: 3px 0 3px 0;
	}

.caleImBtn {
	color: #990000;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	margin: 0 0 0 0;
	cursor: pointer;
	text-align: center;
	}

.caleDmBtn {
	color: #990000;
	font-weight: bold;
	padding: 1px 1px 1px 1px;
	margin: 0 0 0 0;
	cursor: pointer;
	text-align: center;
	}

.caleTodayBtn {
	background-image: url(tools/cale_today.gif);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	width: 40px;
	cursor: pointer;
	}

.caleCloseBtn {
	background-image: url(tools/cale_close.gif);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	width: 15px;
	cursor: pointer;
	}


/* ______________________ FULL CALENDAR ________________________ */

.jxCal {
	width: 100%;
	height: 100%;
	}

.jxCal table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	}

.jxCal th {
    height: 1px;
	padding: 5px;
	border: 1px solid var(--jx-color-border);
	border-top: none;
	border-left: none;
	background-color: var(--jx-color-face);
    }

.jxCalDay {
	border: 1px solid var(--jx-color-border);
	vertical-align: top;
	text-align: left;
	overflow: hidden;
	cursor: pointer;
    }

.jxCalDayNum {
	font-weight: bold;
    }

.jxCalDay .jxCalDayNum {
	padding: 3px;
    }

.jxCalFest .jxCalDayNum {
	color: rgb(255, 0, 0);
	}

.jxCalHour {
	border: 1px solid var(--jx-color-border);
	border-left: none;
	border-top: none;
	overflow: hidden;
	cursor: pointer;
    }

.jxCalHour:first-child {
	width: 4em;
	padding-left: 10px;
	vertical-align: top;
	font-weight: bold;
	}

.jxCalToday {
	background-color: var(--jx-color-face);
	}

.jxCalOff {
	opacity: 30%;
	}

.jxCalEvents {
	padding: 0;
	margin: 0;
	}

.jxCalDay .jxCalEvents {
	height: 20px;
	}

.jxCalEvent {
	list-style: none;
    white-space: nowrap;
	width: 100%;
	padding: 1px 2px 1px 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
	}

.jxCalP {
	background-color: #92ff7c;
	}

.jxCalU {
	background-color: #ff8a4d;
	}

.jxCalO {
	background-color: #fdff7c;
	}

.jxCalF {
	background-color: #e299ff;
	cursor: auto;
	}
