/* ================================ FORM ===================================== */
.winshadow {
    }

.o2_form_window {
    border: 1px solid var(--jx-color-border);
    border-radius: 4px;
    }

.o2_form_body {
    background-color: var(--jx-color-form);
    border: none;
    border-top: 1px solid var(--jx-color-border);
    overflow: hidden;
    }

.jxform_inactive {
    filter: grayscale(100%) brightness(112%);
    }

.jxform_inactive * {
    color: var(--jx-color-disabled);
    }

.open_body {
    border-top: none;
    }

.o2_form_title {
    background: var(--jx-color-face);
    height: 24px;
    text-align: center;
    border-bottom: none;
    }

.o2_form_title * {
    font-weight: bold;
    }

.o2_form_title_no {
    background: var(--jx-color-face);
    height: 24px;
    text-align: center;
    }

.o2_form_title_no * {
    color: var(--jx-color-disabled);
    font-weight: bold;
    }

.o2_form_doc {
    background-image: url(form/doc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.o2_form_doc:hover {
    background-image: url(form/doc_on.png);
    }

.o2_form_close {
    background-image: url(form/min.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 20px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_close:hover {
    background-image: url(form/min_on.png);
    }

.o2_form_open {
    background-image: url(form/max.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 20px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_open:hover {
    background-image: url(form/max_on.png);
    }

.o2_form_exit {
    background-image: url(form/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 22px;
    border-top-right-radius: 4px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_exit:hover {
    background-image: url(form/close_on.png);
    }

.o2_form_full {
    background-image: url(form/full.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 20px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_full:hover {
    background-image: url(form/full_on.png);
    }

.o2_form_restore {
    background-image: url(form/full.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 20px;
    line-height: 1px;
    cursor: pointer;
    }

.o2_form_restore:hover {
    background-image: url(form/full_on.png);
    }

.o2_form_status {
    background-color: var(--jx-color-face);
    width: 100%;
    line-height: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    }

.o2_form_status_dis {
    background-color: var(--jx-color-face);
    width: 100%;
    line-height: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    }

.o2_form_resize {
    background-image: url(form/grip.png);
    border-top: 1px solid var(--jx-color-border);
    border-left: 1px solid var(--jx-color-border);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 4px;
    width: 30px;
    height: 6px;
    cursor: se-resize;
    }

.o2_form_resize:hover {
    background-color: #ff9438;
    cursor: se-resize;
    }
