.jximglist {
    background-color: #ffffff;
    border: 1px solid var(--jx-color-border);
    padding: 5px;
    overflow: auto;
    }

.jximglist b {
    font-size: 120%;
    }

.jximglist_frame {
    position: relative;
    float: left;
    margin: 2px;
    border: 1px solid var(--jx-color-border);
    text-align: center;
    padding: 2px;
    background-color: #ffffff;
    overflow: hidden;
    }

.jximglist_text {
    font-size: 90%;
    display: block;
    white-space: normal;
    }

.jximglist_del {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    padding: 2px 3px 2px 3px;
    background-color: #ffffff;
    border: 1px solid var(--jx-color-border);
    }
