/* ====================================== NEW MENU ==================================== */

.o2menuBar {
    position: fixed;
    background-color: var(--jx-color-face);
    top: 0;
    left: 0;
    width: 100%;
    line-height: 32px;
    padding-left: 20px;
    padding-top: 4px;
    border-bottom: 1px solid var(--jx-color-border);
    }

.o2menuBarV {
    position: fixed;
    background-color: var(--jx-color-face);
    border-right: 1px solid var(--jx-color-border);
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 22px solid transparent;
    overflow-x: none;
    overflow-y: auto;
    }

.o2menuBarH {
    position: fixed;
    background-color: var(--jx-color-face);
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 22px solid transparent;
    padding-top: 30px;
    overflow-x: none;
    overflow-y: auto;
    outline: 1px solid var(--jx-color-border);
    }

.o2menu {
    background-color: var(--jx-color-form);
    border: 1px solid var(--jx-color-border);
    border-top-color: var(--jx-color-form);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    }

.o2menuButton {
    width: 50px;
    height: 24px;
    top: 1px;
    left: 26px;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    background-image: url(menu/btn.png);
    background-color: var(--jx-color-form);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    }

.o2menuClose {
    width: 50px;
    height: 24px;
    top: 1px;
    left: 24px;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    background-image: url(menu/close.png);
    background-color: var(--jx-color-form);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    }

.o2menuFloat {
    border-top-color: var(--jx-color-border);
    }

.o2menuVert {
    border-top-color: var(--jx-color-border);
    border-left-color: var(--jx-color-form);
    }

.o2menuItem {
    border: 1px solid var(--jx-color-border);
    border-bottom: none;
    line-height: 24px;
    cursor: pointer;
    }

.o2menuBar .o2menuItem {
    border: 1px solid var(--jx-color-face);
    border-bottom: none;
    margin-right: 20px;
    display: inline;
    cursor: pointer;
    }

.o2menuBarV .o2menuItem,
.o2menuBarH .o2menuItem {
    border: 1px solid var(--jx-color-face);
    border-right: none;
    padding: 6px 4px 6px 4px;
    display: block;
    cursor: pointer;
    }

.o2menuItemOn {
    background-color: #cccccc;
    border-bottom: none;
    line-height: 24px;
    cursor: pointer;
    }

.o2menuBar .o2menuItemOn {
    background-color: #f5f4f2;
    border: 1px solid var(--jx-color-border);
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px 0 9px 0;
    margin-right: 20px;
    display: inline;
    cursor: pointer;
    }

.o2menuBarV .o2menuItemOn,
.o2menuBarH .o2menuItemOn {
    background-color: var(--jx-color-form);
    border: 1px solid var(--jx-color-border);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 6px 4px 6px 4px;
    display: block;
    cursor: pointer;
    }

.o2menuImg {
    padding-left: 5px;
    display: inline;
    }

.o2menuImg IMG {
    vertical-align: text-bottom;
    }

.o2menuLabel {
    white-space: nowrap;
    padding: 0 5px 0 3px;
    }

.o2menuItem .o2menuArrow {
    background-image: url(menu/arrow.gif);
    background-position: right;
    background-repeat: no-repeat;
    width: 12px;
    }

.o2menuItemOn .o2menuArrow {
    background-image: url(menu/arrowon.gif);
    background-position: right;
    background-repeat: no-repeat;
    width: 12px;
    }

.o2menuSep {
    border-bottom: 1px solid var(--jx-color-border);
    height: 4px;
    margin-bottom: 2px;
    }

.o2menuSepV {
    border-left: 1px solid var(--jx-color-border);
    width: 1px;
    display: inline;
    }

.o2devInfo {
    }

.o2devInfo TH {
    }

.o2devInfo i {
    }


/* ===== ACCORDION MENU ===== */

.o2accMenu {}

.o2accMenu div.o2menu {
	max-height: 0;
	overflow: hidden;
	border: none;
	padding-left: 10px;
	transition: max-height 0.5s ease-out;
	}

.o2accMenu > div.o2menu {
	max-height: 10000px;
    background-color: transparent;
	}

.o2accMenu .o2menuItem {
    border: none;
    padding: 0;
    }

.o2accMenu .o2menuItem:hover > label {
    background-color: var(--jx-color-on);
    }

.o2accMenu .o2menu .o2menu div.o2menuItem:hover > label {
    background-color: var(--jx-color-on);
    }

.o2accMenu .o2menuItem label {
	display: block;
	width: 100%;
	cursor: pointer;
    margin-bottom: 4px;
	}

.o2accMenu .o2menuItem label[for]:after {
    content: "\02C5";
    content: "\02C3";
    font-size: 20px;
    position: relative;
    top: 6px;
    float: right;
    margin-right: 10px;
	}

.o2accMenu input[type="radio"] {
	display: none;
    }

.o2accMenu input[type="radio"]:checked ~ div.o2menu {
    max-height: 10000px;
	border: 1px solid var(--jx-color-border);
    border-right: none;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
	transition: max-height 0.5 ease-in;
	}

.o2accMenu input[type="radio"]:checked ~ label[for]:after {
    content: "\02C5";
    font-size: 20px;
    position: relative;
    top: 6px;
    float: right;
    margin-right: 10px;
	}

