/* =========================== MULTIPAGE ============================ */

.o2_ctrl_multi_out {
    border-bottom: 1px solid var(--jx-color-border);
    }

.o2_ctrl_multi_in {
    background-color: var(--jx-color-frame);
    height: 100%;
    border: 1px solid var(--jx-color-border);
    margin-top: -1px;
    overflow: hidden;
    }

.o2_ctrl_multi_head {
    display: flex;
    }

.o2_ctrl_multi_on {
    flex: 1 100%;
    text-align: center;
    background-color: var(--jx-color-frame);
    border: 1px solid var(--jx-color-border);
    border-bottom: 1px solid var(--jx-color-frame);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    }

.o2_ctrl_multi_on:only-child {
    background-color: var(--jx-color-face);
    border-bottom: 1px solid var(--jx-color-border);
    }

.o2_ctrl_multi_off {
    flex: 1 100%;
    text-align: center;
    background-color: var(--jx-color-face);
    border: 1px solid var(--jx-color-border);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    }

.o2_ctrl_multi_off:hover {
    background-color: var(--jx-color-on);
    border: 1px solid var(--jx-color-border);
    cursor: pointer;
    }
