/* =========================== MULTIPAGE ============================ */

.o2_ctrl_multi_out {
    border-bottom: 1px solid #cccccc;
    }

.o2_ctrl_multi_in {
    background-color: #f0efed;
    height: 100%;
    border: 1px solid #cccccc;
    margin-top: -1px;
    border-top-right-radius: 5px;
    overflow: hidden;
    }

.o2_ctrl_multi_on {
    background-color: #f0efed;
    height: 22px;
    border: 1px solid #cccccc;
    border-bottom: 1px solid #f0efed;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-right: -1px;
    display: inline-block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    }

.o2_ctrl_multi_off {
    background-color: #e0ddd9;
    height: 22px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    display: inline-block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    }

.o2_ctrl_multi_off:hover {
    color: #442204;
    background-color: #D1C8C0;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    display: inline-block;
    cursor: pointer;
    }
