/* =============================== TABLE =================================== */
.o2_tab_space {
    background-color: #ffffff;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    overflow: hidden;
    }

.o2_tab_tab {
    overflow: hidden;
    padding-right: 2px;
    }

.o2_tab_tab em {
    line-height: 300%;
    }

thead .o2_tab_marker,
.o2_tab_testa {
    background-color: var(--jx-color-face);
    height: 24px;
    padding-top: 3px;
    border-bottom: 1px solid var(--jx-color-border);
    border-left: none;
    font-size: 97%;
    white-space: nowrap;
    border-top-left-radius: 2px;
    transition: background-color .2s .1s;
    cursor: pointer;
    }

TH + thead .o2_tab_marker,
.o2_tab_testa {
    border-top-left-radius: 0;
    border-left: 1px solid var(--jx-color-border);
    }

thead .jxord:hover {
    background-color: var(--jx-color-on);
    }

.o2_tab_corpo {
    padding: 0 3px 0 2px;
    line-height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    border-left: 1px dotted #e0ddd9;
    border-bottom: 1px dotted #f0efed;
    }

.o2_tab_space tfoot {
    background-color: #e0ddd9;
    }

tfoot .o2_tab_marker,
.o2_tab_foot {
    background-color: var(--jx-color-face);
    white-space: nowrap;
    height: 20px;
    border-top: 1px solid var(--jx-color-border);
    cursor: default;
    overflow: hidden;
    border-bottom-left-radius: 2px;
    padding-left: 3px;
    }

TD + tfoot .o2_tab_marker,
.o2_tab_foot {
    border-bottom-left-radius: 0;
    padding-right: 3px;
    }

.o2_tab_riga {
    background-color: #ffffff;
    }

.o2_tab_alt {
    background-color: #ffffff;
    }

.o2_tab_point {
    background-color: #f0efed;
    white-space: nowrap;
    cursor: pointer;
    }

.o2_tab_point .o2_tab_corpo {
    border-left: 1px dotted #e0ddd9;
    }

.o2_tab_sele {
    background: var(--jx-color-sele);
    line-height: 20px;
    vertical-align: middle;
    padding: 0 3px 0 2px;
    white-space: nowrap;
    overflow: hidden;
    border-left: 1px dotted #e0ddd9;
    }

.jxtabedit .o2_tab_sele {
    padding: 0 2px 0 2px;
    }

.o2_tab_sort {
    background: url(tab/sort.png) no-repeat;
    margin-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
    cursor: pointer;
    }

.o2menu .o2_tab_sort {
    background: url(tab/marker.png) no-repeat;
    width: 12px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
    cursor: pointer;
    }

.o2_tab_sorta {
    background: url(tab/asc.png) no-repeat;
    margin-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
    cursor: pointer;
    }

.o2_tab_sortd {
    background: url(tab/desc.png) no-repeat;
    margin-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
    cursor: pointer;
    }

.o2_tab_sorti {
    color: #6B6661;
    font-size: 75%;
    vertical-align: top;
    }

.o2_tab_popup {
    padding: 5px;
    background-color: #D1C8C0;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    box-shadow: 0px 6px 15px #6B6661;
    }

.o2_tab_fcol {
    width: 16px;
    border-bottom: 1px dotted #f0efed;
    }

.o2_tab_marker {
    width: 13px;
    }

.o2_tab_marker_a {
    background: url(tab/marker.png) no-repeat center;
    width: 20px;
    border: none;
    }

.o2_tab_marker_focus {
    background: url(tab/marker_focus.png) no-repeat center;
    width: 20px;
    border: none;
    }

.o2_tab_resize {
    font-size: 1px;
    width: 2px;
    height: 100%;
    border-left: none;
    border-right: 1px dotted #BDB5AE;
    display: inline-block;
    float: left;
    cursor: col-resize;
    }

.o2_tab_resize_line {
    border-left: 1px dotted var(--jx-color-border);
    }

.o2_tab_pinned {
    border-right: 1px dotted var(--jx-color-border);
    background-color: #ffffff;
    }

/* =============================== EXTRA =================================== */

.tab_testa_sx {
    background-color: #e0ddd9;
    white-space: nowrap;
    height: 20px;
    border-bottom: 1px solid var(--jx-color-border);
    cursor: default;
    overflow: hidden;
    }

.tab_corpo_sx {
    padding: 0 5px 0 5px;
    line-height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    }

.jxtabedit .o2tab_current .tab_corpo_sx {
    background: #FC7939;
    background: -moz-linear-gradient(top, #FEC09F, #FC7837);
    background: -webkit-gradient(linear, left top, left bottom, from(#FEC09F), to(#FC7837));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FEC09F', EndColorStr='#FC7837');
    line-height: 20px;
    vertical-align: middle;
    padding: 0 2px 0 2px;
    white-space: nowrap;
    }

.tab_foot_sx {
    background-color: #e0ddd9;
    white-space: nowrap;
    height: 20px;
    border-top: 1px solid var(--jx-color-border);
    cursor: default;
    overflow: hidden;
    }

.tab_testa_nb {
    background-color: #e0ddd9;
    white-space: nowrap;
    height: 20px;
    border-bottom: 1px solid var(--jx-color-border);
    cursor: default;
    overflow: hidden;
    }

.tab_corpo_nb {
    padding: 0 5px 0 5px;
    line-height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    }

.jxtabedit .o2tab_current .tab_corpo_nb {
    background: #FC7939;
    background: -moz-linear-gradient(top, #FEC09F, #FC7837);
    background: -webkit-gradient(linear, left top, left bottom, from(#FEC09F), to(#FC7837));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FEC09F', EndColorStr='#FC7837');
    line-height: 20px;
    vertical-align: middle;
    padding: 0 2px 0 2px;
    white-space: nowrap;
    }

.tab_foot_nb {
    background-color: #e0ddd9;
    white-space: nowrap;
    height: 20px;
    border-top: 1px solid var(--jx-color-border);
    cursor: default;
    overflow: hidden;
    }

.tab_testa_dx {
    background-color: #e0ddd9;
    white-space: nowrap;
    height: 20px;
    border-bottom: 1px solid var(--jx-color-border);
    cursor: default;
    overflow: hidden;
    }

.tab_corpo_dx {
    padding: 0 5px 0 5px;
    line-height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    }

.jxtabedit .o2tab_current .tab_corpo_dx {
    background: #FC7939;
    background: -moz-linear-gradient(top, #FEC09F, #FC7837);
    background: -webkit-gradient(linear, left top, left bottom, from(#FEC09F), to(#FC7837));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FEC09F', EndColorStr='#FC7837');
    line-height: 20px;
    vertical-align: middle;
    padding: 0 2px 0 2px;
    white-space: nowrap;
    }

.tab_foot_dx {
    background-color: #e0ddd9;
    white-space: nowrap;
    height: 20px;
    border-top: 1px solid var(--jx-color-border);
    cursor: default;
    overflow: hidden;
    }


