/* =============================== MENU =================================== */
.sys_devMenu img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    }

.sys_title {
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--jx-color-border);
    }

.sys_users_doc {
    background-image: url(tools/doc_users.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_rights_doc {
    background-image: url(tools/doc_rights.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_right_doc {
    background-image: url(tools/doc_right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_roles_doc {
    background-image: url(tools/doc_roles.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_tables_doc {
    background-image: url(tools/doc_tables.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_fs_doc {
    background-image: url(tools/doc_fs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_keyb_doc {
    background-image: url(tools/doc_keyb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_options_doc {
    background-image: url(tools/doc_options.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_jobs_doc {
    background-image: url(tools/doc_job.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_runjobs_doc {
    background-image: url(tools/doc_runjob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_sched_doc {
    background-image: url(tools/doc_sched.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_inspector_doc {
    background-image: url(tools/doc_inspector.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_jxdoc_doc {
    background-image: url(tools/doc_jxdoc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_jxdoctool_doc {
    background-image: url(tools/doc_jxdoc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_calendar_doc {
    background-image: url(tools/doc_calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--jx-color-face);
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 4px;
    cursor: pointer;
    }

.sys_alert_doc {
    background: #e0ddd9;
    width: 30px;
    line-height: 1px;
    border-top-left-radius: 5px;
    cursor: pointer;
    }

.sys_alert_doc:before {
    content: url(tools/doc_alert.png);
    margin-left: 3px;
    }

.sys_alert_doc:hover:before {
    content: url(tools/doc_alert_on.png);
    margin-left: 3px;
    }

.sys_alert_title {
    background: #e0ddd9;
    white-space: nowrap;
    text-align: center;
    }

.sys_alert_close {
    background: #e0ddd9;
    border-top-right-radius: 5px;
    width: 5px;
    line-height: 1px;
    cursor: pointer;
    }

.alert_msg {
    background-color: transparent;
    border: none;
    padding: 10px 0 10px 20px;
    }

.alert_msg_dis {
    background-color: transparent;
    border: none;
    padding: 10px 0 10px 20px;
    }

.visor {
    background-color: #D1C8C0;
    border-top: 1px solid var(--jx-color-border);
    overflow: auto;
    }

.disp_area {
    overflow: auto;
    padding-left: 2px;
    padding-right: 2px;
    }

.disp_area h3 {
    font-size: 120%;
    font-weight: bold;
    }

.disp_area h4 {
    background-color: #ff8a4d;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    }

.disp_area h5 {
    font-size: 12px;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 10px;
    }

.disp_area i {
    }

.disp_area code {
    font: normal 12px "Courier New";
    }

.disp_area b {
    font-weight: bold;
    }

.disp_area em, .disp_area em b {
    font-style: normal;
    color: #993300;
    }

.browser_table {
    border: 1px solid var(--jx-color-border);
    background-color: #F5F5F5;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: auto;
    }

/*   TOOLBAR   */

.jximgbtn {
    text-align: center;
    }

.jximgbtn_on {
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 3px;
    box-shadow: 0px -2px 2px #6B6661;
    cursor: pointer;
    }

.jximgbtn:hover {
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #6B6661;
    cursor: pointer;
    }

.jxtoolbar {
    background: #e0ddd9;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    }

.jxtoolbarsep {
    width: 3px;
    height: 17px;
    }

.tool_btn {
    width: 32px;
    height: 24px;
    border: 1px solid transparent;
    }

.tool_btn:hover {
    width: 32px;
    height: 24px;
    background-color: #D1C8C0;
    border: 1px solid #BDB5AE;
    border-radius: 3px;
    }

.tool_btn_refresh {
    width: 32px;
    height: 24px;
    background: url(tools/btn/refresh.png) no-repeat top;
    border: 1px solid transparent;
    margin-top: 1px;
    }

.tool_btn_refresh:hover {
    width: 32px;
    height: 24px;
    background: url(tools/btn/refresh.png) no-repeat top;
    background-color: #D1C8C0;
    border: 1px solid #BDB5AE;
    border-radius: 3px;
    margin-top: 1px;
    }

.tool_btn_search {
    width: 32px;
    height: 24px;
    background: url(tools/btn/search.png) no-repeat top;
    border: 1px solid transparent;
    margin-top: 1px;
    }

.tool_btn_search:hover {
    width: 32px;
    height: 24px;
    background: url(tools/btn/search.png) no-repeat top;
    background-color: #D1C8C0;
    border: 1px solid #BDB5AE;
    border-radius: 3px;
    margin-top: 1px;
    }

.tool_btn_exit {
    width: 32px;
    height: 24px;
    background: url(tools/btn/exit.png) no-repeat top;
    border: 1px solid transparent;
    margin-top: 1px;
    }

.tool_btn_exit:hover {
    width: 32px;
    height: 24px;
    background: url(tools/btn/exit.png) no-repeat top;
    background-color: #D1C8C0;
    border: 1px solid #BDB5AE;
    border-radius: 3px;
    margin-top: 1px;
    }

.tool_btn_apply {
    width: 32px;
    height: 24px;
    background: url(tools/btn/apply.png) no-repeat top;
    border: 1px solid transparent;
    margin-top: 1px;
    }

.tool_btn_apply:hover {
    width: 32px;
    height: 24px;
    background: url(tools/btn/apply.png) no-repeat top;
    background-color: #D1C8C0;
    border: 1px solid #BDB5AE;
    border-radius: 3px;
    margin-top: 1px;
    }

.tool_btn_clear {
    width: 32px;
    height: 24px;
    background: url(tools/btn/clear.png) no-repeat top;
    border: 1px solid transparent;
    margin-top: 1px;
    }

.tool_btn_clear:hover {
    width: 32px;
    height: 24px;
    background: url(tools/btn/clear.png) no-repeat top;
    background-color: #D1C8C0;
    border: 1px solid #BDB5AE;
    border-radius: 3px;
    margin-top: 1px;
    }


/*   DATA LOG   */

.jxdatalogtab {
    border-collapse: collapse;
    }

.jxdatalogtab th {
    padding-left: 10px;
    padding-right: 10px;
    }

.jxdatalogtab td {
    padding-left: 10px;
    padding-right: 10px;
    }

.jxdatalogdata {
    font: normal 12px "Courier New";
    border: 1px solid transparent;
    }

.jxdatalogdatamod {
    font: bold 12px "Courier New";
    background-color: #f7f0e9;
    border: 1px solid var(--jx-color-border);
    }

.jxdatalogact {
    font-variant: small-caps;
    }


/* Standard wizard buttons */

.jxwiz_next {
    background: url("tools/wiz_next.png") no-repeat ;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    border: none;
    text-align: center;
    }

.jxwiz_next:hover, .jxwiz_next:focus {
    background: url("tools/wiz_next_focus.png") no-repeat ;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    border: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #6B6661;
    text-align: center;
    }

.jxwiz_cancel {
    background: url("tools/wiz_cancel.png") no-repeat ;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    border: none;
    text-align: center;
    }

.jxwiz_cancel:hover, .jxwiz_cancel:focus {
    background: url("tools/wiz_cancel_focus.png") no-repeat ;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #6B6661;
    text-align: center;
    }

.jxwiz_save {
    background: url("tools/wiz_save.png") no-repeat ;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    border: none;
    text-align: center;
    }

.jxwiz_save:hover, .jxwiz_save:focus {
    background: url("tools/wiz_save_focus.png") no-repeat ;
    padding: 0;
    padding-left: 16px;
    margin: 0;
    border: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #6B6661;
    text-align: center;
    }


/* Actions classes, to be added to standard classes like buttons
   (Will replace wizard buttons ".jxwiz_*") */

.jxbtn_save, .jxbtn_save:hover, .jxbtn_save:focus {
    text-align: left;
    }

.jxbtn_save:before {
    content: url("tools/stock/apply.png");
    float: left;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    height: 24px;
    }

.jxbtn_cancel, .jxbtn_cancel:hover, .jxbtn_cancel:focus {
    text-align: left;
    }

.jxbtn_cancel:before {
    content: url("tools/stock/clear.png");
    float: left;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    height: 24px;
    }

.jxbtn_delete, .jxbtn_delete:hover, .jxbtn_delete:focus {
    text-align: left;
    }

.jxbtn_delete:before {
    content: url("tools/stock/delete.png");
    float: left;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 4px;
    height: 24px;
    }


/* File system browser */

.fsb_tree {
    background-color: #ffffff;
    border: 1px solid var(--jx-color-border);
    padding: 5px;
    overflow: auto;
    }

.fsb_tree .jx_treenode_icon {
    vertical-align: text-bottom;
    }

.fsb_tree .jx_treenode_text {
    margin-bottom: 2px;
    }

.fsb_space {
    background-color: #ffffff;
    border-top: 1px solid var(--jx-color-border);
    overflow: auto;
    }

.fsb_tab {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid var(--jx-color-border);
    }

.fsb_tab thead, .fsb_header {
    background-color: #e0ddd9;
    white-space: nowrap;
    height: 20px;
    border-bottom: 1px solid var(--jx-color-border);
    border-left: 1px dotted var(--jx-color-border);
    overflow: hidden;
    }

.fsb_row {
    }

.fsb_icon, .fsb_body {
    background-color: #ffffff;
    padding: 0 5px 0 5px;
    line-height: 20px;
    vertical-align: middle;
    white-space: nowrap;
    }

.fsb_tools {
    color: #000555;
    background-color: #efebe7;
    overflow: auto;
    padding: 3px 5px 3px 5px;
    border: none;
    border-left: 1px solid #bfbcb9;
    border-bottom: 1px solid #bfbcb9;
    width: 1%;
    white-space: nowrap;
    }


/* CONSOLE */

.jxdbgwin {
    background: #D1C8C0;
    background: -moz-linear-gradient(top, #E1DAD4, #BDB5AE);
    background: -webkit-gradient(linear, left top, left bottom, from(#E1DAD4), to(#BDB5AE));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E1DAD4', EndColorStr='#BDB5AE');
    padding: 5px;
    border: 1px solid var(--jx-color-border);
    position: fixed;
    width: 25%;
    bottom: 25px;
    right: 5px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #6B6661;
    }

.jxdbghead {
    background: #667AFF;
    background: -moz-linear-gradient(top, #8090FF, #9FACFE);
    background: -webkit-gradient(linear, left top, left bottom, from(#8090FF), to(#9FACFE));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#8090FF', EndColorStr='#9FACFE');
    height: 7px;
    width: 100%;
    border: 1px solid var(--jx-color-border);
    cursor: pointer;
    border-radius: 5px;
    }

.jxlogwin {
    color: #bfbfbf;
    background-color: #000019;
    font-family: monospace;
    font-size: small;
    font-weight:  bold;
    width: 100%;
    height: 400px;
    padding: 3px;
    margin: 3px 0 3px 0;
    border: 1px solid #666666;
    overflow: auto;
    white-space: pre;
    line-height: 22px;
    }

.jxlogwin b {
    color: #bfbfbf;
    font-family: monospace;
    font-size: small;
    font-weight: bolder;
    white-space: pre;
    }

.jxlogwin a {
    color: #8090FF;
    font-family: monospace;
    font-size: small;
    font-weight:  bold;
    text-decoration: none;
    }

.jxlogwin a:hover {
    color: #8090FF;
    font-family: monospace;
    font-size: small;
    font-weight:  bold;
    text-decoration: underline;
    }

.jxlogactive {
    color: #8090FF;
    font-family: monospace;
    font-size: small;
    font-weight:  bold;
    }

.jxlogtrace {
    color: #9895A6;
    font-family: monospace;
    font-size: small;
    font-weight:  bold;
    }

.jxcmdline {
    width: 100%;
    font-family: monospace;
    font-size: small;
    padding: 3px;
    border: 1px solid var(--jx-color-border);
    }

.jxlogtrace table {
    padding-top: 5px;
    padding-left: 20px;
    }

.jxlogtrace th {
    color: #9895A6;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
    }

.jxlogtrace td {
    color: #9895A6;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 5px 2px 5px;
    }

.jxlogtrace .dbgh td {
    border-top: 1px solid #666666;
    }

.jxdbgbtn {
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
    padding: 1px;
    cursor: pointer;
    display: inline;
    float: right;
    border-radius: 3px;
    }

.jxdbgbta {
    background-color: #8090FF;
    width: 14px;
    height: 14px;
    border-top: 1px solid #666666;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #666666;
    padding: 1px;
    cursor: pointer;
    display: inline;
    float: right;
    border-radius: 3px;
    }

.jxdbgbto {
    border-top: 1px solid #dedede;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #dedede;
    cursor: pointer;
    }

.jxdbgfield {
    font: normal 12px Arial, sans-serif;
    width: 70px;
    height: 14px;
    border: 1px solid var(--jx-color-border);
    padding: 1;
    margin-right: 5px;
    display: inline;
    float: right;
    border-radius: 3px;
    }

.jxdbgsep {
    width: 5px;
    border-right: 1px dotted #666666;
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline;
    float: right;
    }

/* EXTRA */

.em {
   color: #993300;
   font-weight: bold;
   }

.red_row {
    background-color: #D77A39;
    }

.yellow_row {
    background-color: #EDD67A;
    }

.blue_row {
    background-color: #8687FF;
    }

.green_row {
    background-color: #95ff96;
    }

.gray_row {
    background-color: #e0ddd9;
    }

.transparent_sele {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 3px 0 3px;
    margin: 0 0 0 0;
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
    }

.btn_menu {
    }

.btn_menu_field {
    color: transparent;
    text-align: center;
    background-color: var(--jx-color-face);
    background-image: url(tools/btn/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s .1s;
    }

.btn_menu_field:hover {
    color: transparent;
    text-align: center;
    background-color: var(--jx-color-on);
    background-image: url(tools/btn/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    cursor: pointer;
    }

.btn_menu_field:focus {
    color: transparent;
    text-indent:-9999px;
    background-color: var(--jx-color-on);
    background-image: url(tools/btn/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--jx-color-border);
    border-radius: 3px;
    cursor: pointer;
    }


.btn_menu_handler {
    background-color: transparent;
    background-image: url(tools/btn/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    }

.btn_menu_list {
    padding: 1px 3px 1px 3px;
    background-color: var(--jx-color-form);
    border: 1px solid var(--jx-color-border);
    border-top-color: var(--jx-color-form);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 6px 10px #6B6661;
    cursor: pointer;
    }

.btn_menu_list div {
    padding: 1px 3px 1px 3px;
    border-bottom: none;
    line-height: 24px;
    cursor: pointer;
    }

.btn_menu_list div:hover {
    padding: 1px 3px 1px 3px;
    background-color: #cccccc;
    border-bottom: none;
    line-height: 24px;
    cursor: pointer;
    }

