/* ====================================== STATUSBAR ==================================== */

.o2statusbar {
    background-color: #eff3fa;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #a7bde4;
    padding: 4px 0 4px 0;
    }

.o2statusinfo {
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 10px;
    border-right: 1px solid var(--jx-color-border);
    cursor: pointer;
    }

.o2statusinfo img {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    }

.o2statustext {
    color: #444444;
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    }

.o2notify {
    font-weight: bold;
    text-align: center;
    width: 60px;
    float: right;
    border-left: 1px solid #a7bde4;
    }

.o2notify img {
    vertical-align: middle;
    padding-left: 10px;
    display: inline;
    }

.o2notify div {
    vertical-align: middle;
    padding: 0 10px 0 5px;
    display: inline;
    }

.o2notify_win {
    position: absolute;
    color: #19181A;
    background-color: #eff3fa;
    border: 1px solid #a7bde4;
    padding: 5px 5px 5px 5px;
    bottom: 25px;
    right: 3px;
    }

 .o2notify_list {
    border-spacing: 0;
    border-collapse: collapse;
    }

 .o2notify_row_on td {
    color: #19181A;
    padding: 5px;
    cursor: pointer;
    }

 .o2notify_row_off td {
    color: #5d6a80;
    padding: 5px;
    cursor: pointer;
    }
