.jxtree {
    background-color: #ffffff;
    border: 1px solid #a7bde4;
    padding: 5px;
    overflow: auto;
    }

.jx_tree_indent {
    width: 10px;
    display: inline-block;
    }

.jx_treenode_open {
    background: url(tree/minus.png) no-repeat top center;
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
    }

.jx_treenode_close {
    background: url(tree/plus.png) no-repeat top center;
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
    }

.jx_treenode_leaf {
    width: 12px;
    height: 12px;
    display: inline-block;
    }

.jx_treenode_icon {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    }

.jx_treenode_text {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
    cursor: pointer;
    }

.jx_treenode_sele .jx_treenode_text {
    color: #403C3A;
    background-color: #9ab0ef;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    cursor: default;
    }

.jx_treenode_focus .jx_treenode_text {
    color: #403C3A;
    background-color: #CCDAFF;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    }

